* {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(88,88,88)
}

input {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin: 10px;
}

li:hover {
    opacity: 50%;
}